<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2019
## <center>Exploratory data analysis of Olympic games with Pandas
    
<img src='../../img/olympic_logo.png' width=50%>

Prior to working on the assignment, you'd better check out the corresponding course material:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), the same as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - first lectures in mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX) 
 - you can also practice with demo assignments, which are simpler and already shared with solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Your task is to:
 1. write code and perform computations in the cells below
 2. choose answers in the [webform](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Solutions will be shared only with those who've filled in this form 
 3. submit answers with some email and **remember it**! This will be your ID during the course. Specify your real full name in the form as well (no nicks allowed in the final top-100 [rating](https://mlcourse.ai/rating)). If in doubt, you can re-submit the form till the deadline for A1, no problem, but stick to only one email.
 
### <center> Deadline for A1: 2019 September 15, 20:59 GMT (London time)
    
You'll get up to 10 credits for this assignment.

### How to get help
In [ODS Slack](https://opendatascience.slack.com) (if you still don't have access, fill in the [form](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) mentioned on the mlcourse.ai main page), we have a channel **#mlcourse_ai_news** with announcements from the course team.
You can discuss the course content freely in the **#mlcourse_ai** channel (we still have a huge Russian-speaking group, they have a separate channel **#mlcourse_ai_rus**).

Here's how you reply in a thread (press this dialog icon to drill down into a thread):

<img src="../../img/start_a_thread.png" />

Please stick to special threads *a1_q1-5_fall2019* and *a1_q6-10_fall2019* in **#mlcourse_ai_news** for your questions on A1. Help each other without sharing correct code and answers. Our TA **Vadim @vchulski** is there to help (only in the mentioned thread, do not write to him directly).

Lastly, you can save useful messages by pinning them, further you can find pinned items on the top, just below the channel name:

<img src="../../img/pinned_item.png" />

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [8]:
import pandas as pd
import numpy as np
import math

In [9]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [10]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [12]:
data.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

In [13]:
# data.loc[data["Age"] >= 70, ['Age', "Year"]].head()
# data.loc[0:5, ['Age', "Year"]] 
data.iloc[0:5, range(3,10)]

    Age  Height  Weight            Team  NOC        Games  Year
0  24.0   180.0    80.0           China  CHN  1992 Summer  1992
1  23.0   170.0    60.0           China  CHN  2012 Summer  2012
2  24.0     NaN     NaN         Denmark  DEN  1920 Summer  1920
3  34.0     NaN     NaN  Denmark/Sweden  DEN  1900 Summer  1900
4  21.0   185.0    82.0     Netherlands  NED  1988 Winter  1988

__1. How old were the youngest male and female participants of the 1992 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12 [+]

In [14]:
data[(data["Sex"] == "M") & (data["Year"] == 1992)]["Age"].min(), \
data[(data["Sex"] == "F") & (data["Year"] == 1992)]["Age"].min()
# print("minimal male age:" + str(male))
# print("minimal female age:" + str(female))

(11.0, 12.0)

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too. 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0.2
- 1.5 
- 2.5 [+]
- 7.7

In [113]:
data2012 = data#.drop_duplicates(["Name"],inplace=False)
data2012 = data2012[(data2012["Year"] == 2012) & (data2012.Sex == "M")].drop_duplicates(["Name"],inplace=False)
common_length = len(data2012)
male_basketball_amount = len(data2012[data2012.Sport == "Basketball"])
print(common_length)
print(male_basketball_amount)
print(round((male_basketball_amount/common_length)*100, 1))
# data2012.head()
# ~ 2.5

# data2012 = data[(data.Year == 2012) & (data.Sex == "M")]
# common_length = len(data2012.drop_duplicates(["Name"],inplace=False))
# male_basketball_amount = len(data2012[data2012.Sport == "Basketball"].drop_duplicates(["Name"],inplace=False))
# print(common_length)
# print(male_basketball_amount)
# print((male_basketball_amount/common_length)*100)

5858
143
2.4

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 171.8 and 6.5 [+]
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [51]:
# Question - Should we consider Duplicates? Or we should consider only unique sportsmen?
data2000 = data#.drop_duplicates(["Name"],inplace=False)
data2000 = data2000[(data2000["Year"] == 2000) & (data2000.Sex == "F") & (data2000.Sport == "Tennis")]
# data2000["Height"].mean(), \
# data2000["Height"].std()
data2000.describe().Height
# ~ 171.8 and 6.5

count    125.000000
mean     171.792000
std        6.458673
min      150.000000
25%      168.000000
50%      172.000000
75%      176.000000
max      191.000000
Name: Height, dtype: float64

__4. Find the heaviest athlete among 2006 Olympics participants. What sport did he or she do?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- Judo
- Bobsleigh 
- Skeleton [+]
- Boxing

In [17]:
data2006 = data.drop_duplicates(["Name"],inplace=False)
data2006 = data2006[data2006.Year == 2006]
athlete = data2006.loc[data2006["Weight"].idxmax()]
athlete.Name, \
athlete.Age, \
athlete.Weight, \
athlete.Sex, \
athlete.Sport
# Skeleton

('Patrick R. Antaki', 41.0, 127.0, 'M', 'Skeleton')

__5. How many times did John Aalberg participate in the Olympics held in different years?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0
- 1 
- 2 [+]
- 3

In [18]:
data_J_A = data[data.Name == "John Aalberg"]
data_J_A.groupby('Year').apply(lambda g: pd.Series(g['Name']).count()).count()
# data_J_A.head(n=10)
# 1992 - 4
# 1994 - 4

2

__6. How many gold medals in tennis did the Switzerland team win at the 2008 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 0
- 1 
- 2 [+]
- 3

In [52]:
# data2006 = data.drop_duplicates(["Name"],inplace=False)
data2008 = data[data.Year == 2008]
data2008 = data2008[(data2008.Team == "Switzerland") & (data2008.Medal == "Gold") & (data2008.Sport == "Tennis")]
data2008["Medal"].count()
# data2008.head()

2

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes [+]
- No

In [20]:
data2 = data.copy()
data2 = data2.dropna(subset=["Medal"])
data2016 = data2.loc[(data2.Year == 2016) & ((data2.Team == "Spain") | (data2.Team == "Italy"))]
data2016.groupby('Team').apply(lambda g: pd.Series(g['Medal']).count())
# Answer: Yes, 43 < 70

Team
Italy    70
Spain    43
dtype: int64

__8. What are the most and least common age groups among the participants of the 2008 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- [45-55] and [25-35) correspondingly [+]
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [114]:
data2008_2 = data[data.Year == 2008]
# groups:
# 15-25 - 0
# 25-35 - 1
# 35-45 - 2
# 45-55 - 3
def apply_age_group(age):
    if age >= 15 and age < 25:
        return "15-25"
    elif age >= 25 and age < 35:
        return "25-35"
    elif age >= 35 and age < 45:
        return "35-45"
    elif age >= 45 and age < 55:
        return "45-55"
    
data2008_2['Age_Group'] = data2008_2['Age'].apply(apply_age_group)
data2008_2.drop_duplicates(["Name"],inplace=True)
age_groups = data2008_2.groupby('Age_Group').apply(lambda g: pd.Series(g['Age_Group']).count())
age_groups.idxmax(), \
age_groups.idxmin()
age_groups.head()

# min - 45 - 55 years;
# max - 25 - 35 years

/usr/local/Caskroom/miniconda/base/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/Caskroom/miniconda/base/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Age_Group
15-25    4776
25-35    5373
35-45     630
45-55      76
dtype: int64

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes, Yes [+]
- Yes, No
- No, Yes 
- No, No

In [72]:
# data_Atlanta_Squaw = data[((data.City == "Atlanta") & (data.Season == "Summer")) | ((data.City == "Squaw Valley") & (data.Season == "Winter"))]
# pd.crosstab(data_Atlanta_Squaw.City, data_Atlanta_Squaw.Season)

# The same but better

pd.crosstab(data.City, data.Season).loc[["Atlanta", "Squaw Valley"]]

# Yes, Yes

Season        Summer  Winter
City
Atlanta        13780       0
Squaw Valley       0    1116

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 3 
- 10
- 15 [+]
- 27

In [111]:
# no Olympics in 1986! Check 1984 instead
# UPD: It should works, no matter if there is no such info.
first_year = 1986
second_year = 2002

# !!!!! Bad descision to drop duplicates here - it provides unique values for BOTH years, not for each separate

# data_unique_sports = data[(data.Year == first_year) | (data.Year == second_year)].drop_duplicates(["Sport"],inplace=False)
# data4 = pd.crosstab(data_unique_sports.Sport, data_unique_sports.Year)
# data4.rename(columns=lambda x: str(x), inplace=True)
# print(data4.head(n=50))
# print()
# print(data4.sum())
# print()

# if len(data4.columns) == 0:
#     print("Columns are empty!")
# else:
#     result = data4.iloc[:,0].sum()
#     for i, column in enumerate(data4.columns, start=0):
#         if i == 0:
#             continue
#         result -= data4.iloc[:,i].sum()
#     print("Finally: " + str(abs(result)))

# My unique crap, but it works anyway)))
data_first_year = data[(data.Year == first_year)].drop_duplicates(["Sport"],inplace=False)
data_second_year = data[(data.Year == second_year)].drop_duplicates(["Sport"],inplace=False)

# Unnecessary
common_data = pd.concat([data_first_year, data_second_year])
common_data = pd.crosstab(common_data.Sport, common_data.Year)
print(common_data)
# Necessary
print(abs(data_first_year.Sport.count() - data_second_year.Sport.count()))

# Check
print("Check:")
print(str(first_year) + ": " + str(data[data.Year == first_year].Sport.nunique()))
print(str(second_year) + ": " + str(data[data.Year == second_year].Sport.nunique()))
print(abs(data[data.Year == first_year].Sport.nunique() - data[data.Year == second_year].Sport.nunique()))

Year                       2002
Sport
Alpine Skiing                 1
Biathlon                      1
Bobsleigh                     1
Cross Country Skiing          1
Curling                       1
Figure Skating                1
Freestyle Skiing              1
Ice Hockey                    1
Luge                          1
Nordic Combined               1
Short Track Speed Skating     1
Skeleton                      1
Ski Jumping                   1
Snowboarding                  1
Speed Skating                 1
15
Check:
1986: 0
2002: 15
15

That's it! Now go and do 30 push-ups! :)

In [24]:
# Done! :)